name: Build
on: [push]
jobs:

  WebAPI:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Build API container
      working-directory: ./api
      run: docker build -f Dockerfile -t docker.pkg.github.com/richardthombs/ensek-test/ensek-api:latest .

    - name: Push to registry
      working-directory: ./api
      run: |
        docker login docker.pkg.github.com -u richardthombs -p "${{secrets.GITHUB_TOKEN}}"
        docker push docker.pkg.github.com/richardthombs/ensek-test/ensek-api:latest


  Website:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Build website container
      working-directory: ./website
      run: |
        docker build -f Dockerfile -t docker.pkg.github.com/richardthombs/ensek-test/ensek-website:latest .

    - name: Push to registry
      working-directory: ./website
      run: |
        docker login docker.pkg.github.com -u richardthombs -p "${{secrets.GITHUB_TOKEN}}"
        docker push docker.pkg.github.com/richardthombs/ensek-test/ensek-website:latest


  Deploy:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: [WebAPI, Website]
    steps:
     - uses: actions/checkout@v1

     - name: Save DigitalOcean kubeconfig
       uses: digitalocean/action-doctl@master
       env:
         DIGITALOCEAN_ACCESS_TOKEN: ${{secrets.DIGITALOCEAN_ACCESS_TOKEN}}
       with:
         args: kubernetes cluster kubeconfig show gs2 > $GITHUB_WORKSPACE/.kubeconfig

     - name: Deploy to Kubernetes
       run: |
         kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig -n ensek delete deployment -l tier=api
         kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig -n ensek delete deployment -l tier=website
         kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig -n ensek apply -f k8s

     - name: Verify deployment
       run: |
         kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig -n ensek -w --timeout=5m rollout status deployment ensek-api
         kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig -n ensek -w --timeout=5m rollout status deployment ensek-website
